body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.edadAutor {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  color: var(--white);
  gap: 10px;
  font-weight: bold;
}

.edadAutor p::after {
  content: " | ";
}
.share {
  background-color: white;
  border-radius: 5px;
  height: 144px;
}

.div1,
.div2,
.div3 {
  padding: 10px;
}

.div1_title,
.div2_title,
.div3_title {
  text-transform: uppercase;
  font-weight: bold;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  max-width: 20em;
  max-height: max-content;
  height: 45rem;
  background: var(--blue);
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.card .info {
  font-weight: 400;
  color: rgb(0, 0, 0);
  display: block;
  text-align: center;
  font-size: 1.2rem;
  margin: 1em;
  min-height: 300px;
  color: var(--white);
}

.card .img {
  width: 8em;
  height: 8em;
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 100%;
  margin: auto;
  object-position: center;
  object-fit: cover;
}

.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

:root {
  --blue: #01337f;
  --blue2: #024bb9;
  --white: #fff;
  --black: #000;
}
