@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue: #01337f;
  --blue2: #024bb9;
  --white: #fff;
  --light: #d8dbe0;
  --black: #000;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body.dark-mode {
  background-color: var(--black);
  color: var(--white);
}

header {
  background-image: url("/IMGS/Header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 450px;
  position: relative;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
}

.box1_h1 {
  color: var(--white);
  font-size: 6.5rem;
  text-align: center;
  font-style: italic;
}

.box1_h1 span {
  margin-left: 120px;
}

.box1_p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.box1_p span {
  font-weight: bold;
}

.box1_button {
  width: max-content;
  background-color: var(--blue2);
  color: var(--white);
  padding: 10px;
  font-size: 1.2rem;
  margin: auto;
  text-decoration: none;
  border: none;
  transition: all;
  transition-duration: 200ms;
  cursor: pointer;
  border-radius: 5px;
}

.box1_button:hover {
  background-color: var(--blue);
}

.box2,
#DiasP,
#HorasP {
  color: var(--white);
  margin: auto;
  font-size: 1.2rem;
  background-color: var(--blue);
  padding: 20px;
  border-radius: 5px;
}

.box2 p span {
  font-size: 1.2rem;
}

.Registro {
  position: absolute;
  top: 40%;
  right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Registro a {
  text-decoration: none;
  color: var(--white);
  background-color: #024bb9;
  padding: 15px;
  border-radius: 5px;
  animation: pulse 1400ms infinite alternate;
  transition: all;
  transition-duration: 200ms;
}

.Registro a:hover {
  background-color: var(--blue);
  animation: none;
}

.video {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center;
  margin-top: 60px;
}

.info {
  margin-left: 60px;
  width: 90%;
}

.info_h2 {
  font-size: 2em;
  color: var(--blue);
}

.info_p {
  font-size: 1.2rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

footer p {
  font-size: 1.2rem;
}

.socialMedia {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.socialMedia_article {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  padding: 5px 30px;
  transition: all;
  transition-duration: 200ms;
  border-radius: 5px;
  cursor: pointer;
}

.socialMedia_article:hover {
  background-color: var(--blue);
  color: var(--white);
}

.socialMedia_article p:before {
  content: "|";
  padding: 10px;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding-bottom: 30px;
  }

  .box1 {
    display: flex;
    padding: 30px 0;
  }

  .box1_h1 {
    color: var(--white);
    font-size: 3rem;
    text-align: center;
    font-style: italic;
  }

  .box1_h1 span {
    margin-left: 0;
  }

  .box2 {
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .Registro {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }

  .video {
    width: 100%;
    object-fit: contain;
    object-position: center;
    margin: 0;
  }

  .info {
    margin-left: 0;
    width: 90%;
    margin: auto;
  }

  .socialMedia {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  .socialMedia_article {
    gap: 5px;
    padding: 0 30px;
    transition: all;
    transition-duration: 200ms;
    border-radius: 5px;
    cursor: pointer;
  }

  .socialMedia_article:hover {
    background-color: var(--blue);
    color: var(--white);
  }

  .socialMedia_article p:before {
    content: "|";
    padding: 10px;
  }
}
